{% macro formatJSONValue(value) -%}
    {% if value is number -%} {{value}}
    {%- else -%} "{{value}}" {%- endif %}
{%- endmacro %}


{%- block jsonbody %}
{
    {%- for name, value in items %}
    "{{name}}": {{formatJSONValue(value)}}{%- if not loop.last %},{% endif -%}
    {%- endfor %}
}
{% endblock -%}
